/* TODO палітра кольорів макету
- #000000
- #2196F3
- #212121
- #757575
- #FFFFFF
- #F5F4FA */
:root {
  --primary-color: #212121;
  --second-color: #757575;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-color);
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logo:hover {
  color: var(--accent-color);
}

.logohead {
  color: var(--accent-color);
}

/*? Site nav*/
.site-nav .link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.auth-mail,
.auth-tel {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.auth-mail:hover,
.auth-mail:focus,
.auth-tel:hover,
.auth-tel:focus {
  color: var(--accent-color);
}

/*? Шапка */
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.btn {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  background-color: var(--accent-color);
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
}

/*? features особливості*/

.section-title {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.section-text {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/*? чим ми займаємось*/

.section-head,
.about-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

/*? About team */

.about {
  background: #f5f4fa;
}

.about-subtitle {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.desc {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
/*? --footer-- */

.footer {
  background-color: #2f303a;
}

.footer-logo {
  color: #ffffff;
}

.footer-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-item:hover {
  color: var(--accent-color);
}
.footer-mail,
.footer-tel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}
/*? Navigation portfolio */

.btn-nav {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background-color: #f5f4fa;
}

.btn-nav:hover,
.btn-nav:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/*? Projects */

.projects-list {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}

.projects-text {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
